@import 'misc/resets';
@import 'misc/colors';
@import 'components/footer';

body {
  background: @bg-grey;
  color: @black;
  position: relative;
}

h2 {
  font-size: 42px;
}

.autocomplete-suggestions {
  background: @white;
  border: 1px solid darken(@white, 10%);
  text-align: center;
  font-size: 18px;

  &:hover {
    cursor: pointer;
  }
}

.step__wrapper {

  .step {
    padding: 0 30px;

    h2 {
      text-align: center;
      margin-bottom: 30px;
    }

    .form {
      max-width: 400px;
      margin: 0 auto;
      font-size: 20px;

      button {
        background: @green;
        color: @white;
        font-size: 22px;
        border: 0;
        padding: 10px 20px;
      }

      table {
        width: 100%;
        tr td:nth-child(2) {
          text-align: right;
        }



        td {
          border-bottom: 1px solid darken(@white, 10%);
          padding: 5px 0 10px;
          span {
            display: block;
          }
        }
      }
    }

    .activities {
      #selected {
        height: 60px;
        text-align: center;
        span {
          display: inline;
          background: @white;
          border-radius: 30px;
          padding: 10px 15px;
          border: 4px solid @green;
          margin: 0 10px;

          &:hover {
            cursor: pointer;
          }
        }
      }
      input {
        max-width: 400px;
        height: 60px;
        font-size: 22px;
        width: 100%;
        border: 1px solid darken(@white, 10%);
        margin: 0 auto;
        text-align: center;
        display: block;

        &:focus {
          outline: none;
        }
      }
    }

    .choices {
      max-width: 600px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      &.small > div {
        height: 50px;
      }

      > div {
        width: 178px;
        height: 178px;
        background: @white;
        margin-bottom: 20px;
        text-align: center;
        font-size: 22px;
        border: 1px solid darken(@white, 10%);
        transition: box-shadow .3s, border-color .3s;
        position: relative;

        &:hover {
          box-shadow: 0px 8px 50px 0px rgba(116, 119, 176, 0.25);
          border-color: @white;
          cursor: pointer;
        }

        &.active {
          border: 4px solid @green;
        }

        span {
          display: block;

          /* vertical center */
          position: relative;
          top: 50%;
          transform: translateY(-50%);

          .fa {
            display: block;
            font-size: 30px;

            &.fa-heartbeat {
              color: #F44336;
            }

            &.fa-medkit {
              color: #4CAF50;
            }

            &.fa-user {
              color: #2196F3;
            }

            &.fa-globe {
              color: #795548;
            }

            &.fa-building-o {
              color: #607D8B;
            }

            &.fa-mars {
              color: #2196F3;
            }
            
            &.fa-venus {
              color: #E91E63;
            }

            &.fa-user-plus {
              color: #4CAF50;
            }
          }
        }
      }
    }
  }
}